{% extends 'base.html'%}
{%  block content_heading %} Total Doctor List {% endblock %}
{%  block content_subheading %} Total Doctor List {% endblock %}
{% block title %} Total Doctor List {% endblock %}

{% block body %}
    <form action="" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" name="agent_type">
                    <option value="all">All Types</option>
                    {% for list in agent_type %}
                        <option value="{{ list.agent_type }}">{{ list.agent_type }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
           <div class="col-md-2">
            <button type="submit" name="Submit" class="btn btn-lg btn-success btn-gradient btn-shadow">Submit</button>
        </div>
        </div>
    </form>

        <div class="row pb-4">
            <div class="col-md-12">
                <div class="card card-body">
                    <div class="table-responsive">
                         <table id="" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap">
                             <thead>
                             <tr role="row" style="background: #3F51B5; color: #fff;">
                                 <th class="py-2" data-orderable="false">#</th>
                                 <th class="py-2" data-orderable="false">Unit</th>
                                 <th class="py-2" data-orderable="false">No of Emp</th>
                                 <th class="py-2" data-orderable="false">No of Referral in List</th>`
                                 <th class="py-2" data-orderable="false">Met once</th>
                                 <th class="py-2" data-orderable="false">Met twice</th>
                                 <th class="py-2" data-orderable="false">Met 3 or more</th>
                                 <th class="py-2" data-orderable="false">Didn't met till now</th>
                                 <th class="py-2" data-orderable="false">Doctor's Coverage</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for list in bifurcation %}
                                <tr>
                                    <td class="py-2 text-right">{{ forloop.counter }}</td>
                                    <td class="py-2">{{ list.branch }}</td>
                                    <td class="py-2">{{ list.sno }}</td>
                                    <td class="py-2">{{ list.ce }}</td>
                                    <td class="py-2">{{ list.CDU }}</td>
                                    <td class="py-2">{{ list.v1 }}</td>
                                    <td class="py-2">{{ list.v2 }}</td>
                                    <td class="py-2">{{ list.v3 }}</td>
                                    <td class="py-2">{{ list.english_format_number }}</td>
                                </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                     </div>
                </div>
            </div>
        </div>


{% endblock %}