{% extends 'base.html'%}
{%  block content_heading %} Inactive Allowance Report {% endblock %}
{%  block content_subheading %} Inactive Allowance report {% endblock %}
{% block title %} Inactive Allowance Report {% endblock %}

{% block script %}
<script>
 $(document).ready(function () {
            $("#referral_link").addClass('active subdrop');
            $("#allowance_link").addClass('active');
            $("#referral_submenu").css('display', 'block');
        });
</script>
{% endblock %}


{% block body %}
    <form action="" method="post">
    {% csrf_token %}
    <div class="row">
               <div class="col-md-3">
                  <div class="form-group">
                      <select class="form-control" name="branch">
                          <option value="">-- Select Branch --</option>
                          <option value="All" selected>All</option>
                          {% for list in branch %}
                              <option value="{{ list.branch_name }}">{{ list.branch_name }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
             <div class="col-md-5">
                <div class="input-group">
                    <input type="text" name="date" class="form-control mb-2 daterange-shawCalRanges">
                    <div class="input-group-append">
                        <input class="btn btn-primary btn-sm form-control " type="submit" name="submit" value="Go">
                    </div>
                </div>
            </div>
    </div>
    </form>

            <div class="row pb-4">
                <div class="col-md-12">
                    <div class="card card-body">
                                       <div class="table-responsive">
                            <table id="" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap">
                                <thead>
                                <tr role="row" style="background: #3F51B5; color: #fff;">
                                    <th class="py-2" data-orderable="false">#</th>
                                    <th class="py-2" data-orderable="false">Emp ID</th>
                                    <th class="py-2" data-orderable="false">Name</th>
                                    <th class="py-2" data-orderable="false">Allowance</th>
                                    <th class="py-2" data-orderable="false">Branch</th>
                                    <th class="py-2" data-orderable="false">Total Days</th>
                                    <th class="py-2" data-orderable="false">Total Calls</th>
                                    <th class="py-2" data-orderable="false">Per Day Allowance</th>
                                    <th class="py-2" data-orderable="false">Total Allowance</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for report in inactive %}
                                    <tr>
                                        <td class="py-2 text-right">{{ forloop.counter }}</td>
                                        <td class="py-2">{{ report.Emp_ID }}</td>
                                        <td class="py-2">{{ report.Emp_name }}</td>
                                        <td class="py-2">{{ report.Allowance }}</td>
                                        <td class="py-2">{{ report.Branch }}</td>
                                        <td class="py-2">{{ report.Total_Days }}</td>
                                        <td class="py-2">{{ report.Total_Calls }}</td>
                                        <td class="py-2">{{ report.Per_Day_Allowance }}</td>
                                        <td class="py-2">{{ report.TOTAL }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}