{% extends 'base.html'%}
{%  block content_heading %} Employee List {% endblock %}
{%  block content_subheading %} Employee List {% endblock %}
{% block title %} Employee List {% endblock %}



{% block script %}
<script>
     $(document).ready(function () {
            $("#employee_link").addClass('active subdrop');
            $("#employee_data_link").addClass('active');
            $("#employee_submenu_link").css('display', 'block');
        });

    $('.edit-admission').on('click', function () {
        let edit_value = parseInt($(this).data('ref'));

        console.log(edit_value);
        $.ajax({
            url: '{% url 'employee_list' %}',
            data: {emp_id: edit_value},
            success: function (response) {
                $('#emp_name').val(response.emp_name);
                $('#emp_id').val(response.emp_id);
                $('#designation').val(response.orginal_design);
                $('#mobile_number').val(response.personal_number);
                $('#office_number').val(response.office_number);
                $('#bank_ac').val(response.bank_acc);
                $('#ifsc').val(response.ifsc);
                $('#pancard').val(response.pan);
                $('#register_search').val(response.head);
                $('#branch').val(response.branch);
                $('#department').val(response.original_type);
                console.log(response)
            },
            error: function () {
                alert('Oops something went wrong!')
            }
        })
    });

    let delete_value;
    $(".delete-unit").on('click', function () {
        delete_value = $(this).data('unit');
        swal({
              title: "Are you sure?",
              text: `Do you want to Deactivate Unit with ${delete_value} code`,
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn-danger",
              confirmButtonText: "Yes, Deactivate it!",
              closeOnConfirm: false,
            },
            function(){
                $.ajax({
                    url: '',
                    data: {del_unit_id: delete_value},
                    success: function (response) {
                        if (response.success) {
                            swal("Deactivated!", `Unit with code ${delete_value} has Deactivated`, "success");
                        }else swal("Failed!", `Unit with code ${delete_value} has failed to Deactivate`, "warning");
                    },
                    error: function () {
                        alert('Oops something went wrong!')
                    }
                });
            }
        );
    });

</script>
{% endblock %}
{% block body %}
    <style>
    .ui-front {
        z-index: 9999; }
    </style>
    <form action=""method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="branch">
                        <option value="">--select branch--</option>
                        <option value="All" selected>All</option>
                        {% for list in branch %}
                            <option value="{{ list.branch_name }}">{{ list.branch_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" name="Submit" class="btn btn-lg btn-success btn-gradient btn-shadow">Submit</button>
            </div>

        </div>
    </form>


     <div class="modal fade" id="admissionModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Update Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                                <div class="modal-body">
                                  <form action="" method="POST">
                                     {% csrf_token %}
                                        <div class="form-group row">
                                            <div class="col-10">Emp Name* :
                                                <input type="text" class="form-control" id="emp_name"  name="emp_name" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-10"> Emp ID* :
                                                <input type="text" class="form-control" id="emp_id"  name="emp_id" required>
                                            </div>
                                        </div>
                                       <div class="form-group row">
                                            <div class="col-10">Designation :
                                                <select class="form-control" name="designation" id="designation" required>
                                        <option value="--Select Category Type--">--Select Designation--</option>
                                        <option value="Cluster head">Cluster head</option>
                                        <option value="Center Head">Center Head</option>
                                        <option value="Senior Manager">Senior Manager</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Assistant Manager">Assistant Manager</option>
                                        <option value="Assistant General Manager">Assistant General Manager</option>
                                        <option value="Deputy General Manager">Deputy General Manager</option>
                                        <option value="Deputy Manager">Deputy Manager</option>
                                        <option value="General Manager">General Manager</option>
                                        <option value="Senior Executive">Senior Executive</option>
                                        <option value="Executive">Executive</option>
                                        <option value="Team Lead">Team Lead</option>
                                        <option value="Management Trainee">Management Trainee</option>
                                    </select>
                                            </div>
                                        </div>
                                         <div class="form-group row">
                                            <div class="col-10"> Contact No :
                                                <input type="text" class="form-control" id="mobile_number" name="mobile_number" required>
                                            </div>
                                        </div>
                                         <div class="form-group row">
                                            <div class="col-10"> Office No :
                                                <input type="text" class="form-control" id="office_number" name="office_number" required>
                                            </div>
                                        </div>
                                      <div class="form-group row">
                                            <div class="col-10">Bank A/C :
                                                <input type="text" class="form-control" id="bank_ac" name="bank_ac" required >
                                            </div>
                                        </div>
                                      <div class="form-group row">
                                            <div class="col-10">IFSC :
                                                <input type="text" class="form-control" id="ifsc" name="ifsc" required >
                                            </div>
                                        </div>
                                      <div class="form-group row">
                                            <div class="col-10">PAN Card :
                                                <input type="text" class="form-control" id="pancard" name="pancard" required >
                                            </div>
                                        </div>
                                      <div class="form-group row">
                                            <div class="col-10">Reporting To :
                                                <input type="text" class="form-control" id="register_search" name="reporting" required >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-10">Branch:
                                                <input type="text" class="form-control" id="branch" name="branch" required>
                                            </div>
                                        </div>
                                      <div class="form-group row">
                                            <div class="col-10">Department :
                                         <select class="form-control" name="department" id="department" required>
                                        <option value="--Select Category Type--">--Select Category Type--</option>
                                        <option value="Admin">Admin</option>
                                        <option value="Center Head">Center Head</option>
                                        <option value="Trade">Trade</option>
                                        <option value="Cluster Head">Cluster Head</option>
                                        <option value="Marketing Head">Marketing Head</option>
                                        <option value="Regional Manager">Regional Manager</option>
                                        <option value="Management Trainee">Management Trainee</option>
                                        <option value="Management Trainee">Management Trainee</option>
                                    </select>                                            </div>
                                        </div>
                                       <div class="submit-section">
                                           <button type="submit" class="btn btn-success" name="employee_update">Update</button>
                                       </div>
                                    </form>
                                </div>
                            </div>
                        </div>
         </div>

    <div class="row pb-3">
        <div class="col-md-12">
                    <div class="card card-body">
                        <div class="table-responsive">
                            <table id="" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap">
                                <thead>
                                <tr role="row" style="background: #3F51B5; color: #fff;">
                                    <th class="py-2" data-orderable="false">#</th>
                                    <th class="py-2" data-orderable="false">Edit</th>
                                    <th class="py-2" data-orderable="false">Emp ID</th>
                                    <th class="py-2" data-orderable="false">Name</th>
                                    <th class="py-2" data-orderable="false"> Designation</th>
                                    <th class="py-2" data-orderable="false">Department</th>
                                    <th class="py-2" data-orderable="false">Office Number</th>
                                    <th class="py-2" data-orderable="false">Branch</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for emp in emp_list %}
                                   <tr>
                                         <td class="py-1 text-right">{{ forloop.counter }}</td>
                                         <td class="py-1">
<a href="#" data-ref="{{ emp.emp_id }}" class="icon-pencil mr-2 text-info edit-admission" data-toggle="modal" data-target="#admissionModal"></a>
{#                                           <a href="{% url 'referral_details' %}?edit={{ emp.emp_id }}" class=" "><i class="icon-pencil mr-2 text-info"></i></a>#}
{#                                             <a href="{% url 'employee_list' %}?delete={{ emp.emp_id}}" class=" "><i class="icon-trash mr-2 text-danger"></i></a>#}
{#                                        <a class="dropdown-item delete-unit" href="#" data-toggle="modal" data-unit={{ emp.emp_id}} data-target="#delete_unit"><i class="fa fa-trash-o m-r-5"></i> Deactive</a>#}
                                         </td>
                                        <td class="py-1">{{ emp.emp_id }}</td>
                                        <td class="py-1">{{ emp.emp_name }}</td>
                                        <td class="py-1">{{ emp.designation }}</td>
                                        <td class="py-1">{{ emp.original_type }}</td>
                                        <td class="py-1">{{ emp.office_number }}</td>
                                        <td class="py-1">{{ emp.branch }}</td>
                                   </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>


{% endblock %}