{%  extends 'base.html' %}
{% block content_heading %}New Registration {% endblock %}
{% block content_subheading %}New Registration {% endblock %}
{% block title %} New Registration {% endblock %}

{% block script %}
<script>
    $(document).ready(
        $('#method').bind('change',
            function () {
                var method = $('option:selected', this).text();
                if (method === "Admin"){
                    $('#ID').text("Employee ID:");
                    $('#empid').attr('type', 'text');
                }else if (method === "Center Head"){
                    $('#ID').text("Heda");
                    $('#empid').attr('type', 'text');
                }
            }
        )
    );
</script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
{#                <div class="panel-head">#}
{#                    <h5 class="panel-title">Multi Column Form Layout</h5>#}
{#                </div>#}
                <div class="panel-body">
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Employee Name:</label>
                                    <input type="text" class="form-control form-control-sm" name="empname" placeholder="Full Name" required="true">
                                    <div class="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Employee ID:</label>
                                        <input type="number" class="form-control form-control-sm" name="empid" id="empid" placeholder="Eg. 010215" required="true" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Mobile No:</label>
                                    <div class="">
                                        <input type="text" name="mobile" class="form-control form-control-sm" maxlength="10" pattern="[0-9]{10}" placeholder="10 Digits Number" required="true" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Designation:</label>
                                    <select class="form-control form-control-sm" name="designation" required="true">
                                        <option value="--Select Designation--">--Select Designation--</option>
                                        <option value="Cluster head">Cluster head</option>
                                        <option value="Center Head">Center Head</option>
                                        <option value="Senior Manager">Senior Manager</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Assistant Manager">Assistant Manager</option>
                                        <option value="Assistant General Manager">Assistant General Manager</option>
                                        <option value="Deputy General Manager">Deputy General Manager</option>
                                        <option value="Deputy Manager">Deputy Manager</option>
                                        <option value="General Manager">General Manager</option>
                                        <option value="Senior Executive">Senior Executive</option>
                                        <option value="Executive">Executive</option>
                                        <option value="Team Lead">Team Lead</option>
                                        <option value="Management Trainee">Management Trainee</option>
                                        <option value="Trainee">Trainee</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Branch:</label>
                                    <select class="form-control form-control-sm" name="branch" required="true">
                                        <option value="">--Select Working Location--</option>
                                        {% for list in branch %}
                                            <option value="{{ list.branch_name }}">{{ list.branch_name }}</option>

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Department:</label>
                                    <select class="form-control form-control-sm" name="department" required="true">
                                        <option value="--Select Department--">--Select Department--</option>
                                        <option value="Admin">Admin</option>
                                        <option value="Center Head">Center Head</option>
                                        <option value="Amb. Coordinator">Amb. Coordinator</option>
                                        <option value="Cashier">Cashier</option>
                                        <option value="District Team">District Team</option>
                                        <option value="Neighbourhood">Neighbourhood</option>
                                        <option value="Private Corporate">Private Corporate</option>
                                        <option value="Public Corporate">Public Corporate</option>
                                        <option value="Trade">Trade</option>
                                        <option value="Cluster head">Cluster head</option>
                                        <option value="Marketing Head">Marketing Head</option>
                                        <option value="Regional Manager">Regional Manager</option>
                                        <option value="Management Trainee">Management Trainee</option>
                                        <option value="phlebotomy">phlebotomy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Category:</label>
                                    <select class="form-control form-control-sm" name="category" required="true">
                                        <option value="--Select Type--">--Select Category Type--</option>
                                        <option value="Admin">Admin</option>
                                        <option value="Center Head">Center Head</option>
                                        <option value="Amb. Coordinator">Amb. Coordinator</option>
                                        <option value="Cashier">Cashier</option>
                                        <option value="District Team">District Team</option>
                                        <option value="Neighbourhood">Neighbourhood</option>
                                        <option value="Private Corporate">Private Corporate</option>
                                        <option value="Public Corporate">Public Corporate</option>
                                        <option value="Trade">Trade</option>
                                        <option value="Cluster head">Cluster head</option>
                                        <option value="Marketing Head">Marketing Head</option>
                                        <option value="Regional Manager">Regional Manager</option>
                                        <option value="Qualified">Qualified</option>
                                        <option value="Registered">Registered</option>
                                        <option value="Corporate">Corporate</option>
                                        <option value="Management Trainee">Management Trainee</option>
                                        <option value="Trainee">Trainee</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Reporting to:</label>
                                    <div class="">
                                        <input type="text" name="reporting_to" id="register_search" class="form-control form-control-sm" placeholder="Employee ID" autocomplete="on">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="submit" name="Submit" class="btn btn-success mr-2">Create Now</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-head">
                <h5 class="panel-title">Add New Branch</h5>
            </div>
            <form action="{% url 'inactive_emp' %}" method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="form-group mb-1">
                        <label class="col-form-label">Branch Name:</label>
                        <div class="">
                            <input type="text" class="form-control" name="branch_name" placeholder="Eg. Hitech City" required="true">
                        </div>
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <button type="Submit" name="Submit_branch" class="btn btn-success mr-3">Add</button>

                </div>
            </form>
        </div>


        </div>
    <div class="col-md-6">
        <div class="panel">
                                <div class="panel-head">
                                    <h5 class="panel-title">Activate Status</h5>
                                </div>
                                <form action="{% url 'inactive_emp' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="panel-body py-1">
                                       <div class="form-group mb-1">
                                            <label class="col-form-label">Employee ID:</label>
                                            <div class="">
                                                <input type="number" id="emp_search" class="form-control" name="emp_search" placeholder="Eg. 010215" required="true">
                                            </div>
                                        </div>
                                        <div class="radio d-flex">
                                            <div class="custom-control custom-radio custom-radio-1 mb-3">
                                                <input type="radio" name="status" class="custom-control-input" id="active1" value="Active">
                                                <label class="custom-control-label" for="active1">Active</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-radio-1 mb-3">
                                                <input type="radio" name="status" class="custom-control-input" id="active2" value="Inactive">
                                                <label class="custom-control-label" for="active2">Inactive</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel-footer text-right">
                                        <button type="Submit" name="Submit" class="btn btn-success mr-3">Update</button>

                                    </div>
                                </form>
                            </div>
    </div>

{#    <div class="col-md-12">#}
{#                            <div class="widget-6">#}
{#                                <h5 class="title">Today's Reporting Status</h5>#}
{##}
{#                                <!--<div class="chart">#}
{#                                    <div id="sparkline-activeuser"></div>#}
{#                                </div>-->#}
{#                                <ul class="top-pages">#}
{#                                    <li class="title">#}
{#                                        <div class="tbl-cell page">Branches</div>#}
{#                                        <div class="tbl-cell count">Active User</div>#}
{#                                    </li>#}
{#                                    {% for call in branch_wise_count %}#}
{##}
{#									<li>#}
{#                                        <div class="tbl-cell page">{{ call.branch }}</div>#}
{#                                        <div class="tbl-cell count">{{ call.count }}</div>#}
{#                                    </li>#}
{#{% endfor %}#}
{#                                </ul>#}
{#								<div class="number">Total: {{ total_count }}</div>#}
{#                                <!--<div class="link">#}
{#                                    <a href="#">View all Active Users <i class="icon-arrow-right"></i></a>#}
{#                                </div>-->#}
{#                            </div>#}
{##}
{#                    </div>#}
    </div>
{% endblock %}