{% extends 'base.html' %}
{%  block content_heading %}ABC Report {% endblock %}
{%  block content_subheading %}ABC Report {% endblock %}
{% block title %} ABC Report {% endblock %}

{% block script %}
{% endblock %}

{% block body %}
        <style>

    .table td{
        {#font-size: 12px!important;#}
        padding: 5px!important;
    }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
  border: 0;
}
    .dataTables_wrapper {
        padding: 0!important;

    }

    </style>
    <form action="" method="POST" autocomplete="off">
     {% csrf_token %}
     <div class="row">
          <div class="col-md-3">
                <div class="input-group">
                    <select class="form-control" name="branch">
                        <option value="" disabled>--select branch--</option>
                        {% for list in branch %}
                            <option value="{{ list.branch_name }}">{{ list.branch_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
             <div class="col-md-3">
                <div class="input-group">
                    <input type="text" name="date" class="form-control mb-2 daterange-shawCalRanges">
                </div>
             </div>
            <div class="col-md-2">
                            <button type="submit" name="Submit" class="btn btn-lg btn-success btn-gradient btn-shadow">Submit</button>
                        </div>
                 </div>

  </form>

    <div class="row">
     <div class="col-md-12">
     <div class="card card-body">

            <div class="table-responsive">
                     <table id="" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap">
                    <thead>
                    <tr role="row" style="background: #3F51B5; color: #fff;" >
                        <th class="py-1">Sno</th>
                        <th class="py-1">Emp ID</th>
                        <th class="py-1">Emp Name</th>
                         <th class="py-1">Branch</th>
                        <th class="py-1">New V1 A</th>
                        <th class="py-1">New V1 B</th>
                        <th class="py-1">New V1 C</th>
                        <th class="py-1">New V2 A</th>
                        <th class="py-1">New V2 B</th>
                        <th class="py-1">New V2 C</th>
                        <th class="py-1">New V3 A</th>
                        <th class="py-1">New V3 B</th>
                        <th class="py-1">New V3 C</th>
                        <th class="py-1">Exist V1 A</th>
                        <th class="py-1">Exist V1 B</th>
                        <th class="py-1">Exist V1 C</th>
                        <th class="py-1">Exist V2 A</th>
                        <th class="py-1">Exist V2 B</th>
                        <th class="py-1">Exist V2 C</th>
                        <th class="py-1">Exist V3 A</th>
                        <th class="py-1">Exist V3 B</th>
                        <th class="py-1">Exist V3 C</th>
                        <th class="py-1">NV V1 A</th>
                        <th class="py-1">NV V1 B</th>
                        <th class="py-1">NV V1 C</th>
                        <th class="py-1">NV V2 A</th>
                        <th class="py-1">NV V2 B</th>
                        <th class="py-1">NV V2 C</th>
                        <th class="py-1">NV V3 A</th>
                        <th class="py-1">NV V3 B</th>
                        <th class="py-1">NV V3 C</th>
                    </tr>
                    </thead>
                    <tbody>

                     {% for user in abc %}

                        <tr>
                            <td class="py-1 text-right" >{{ forloop.counter }}</td>
                            <td class="py-1">{{ user.Emp_ID }}</td>
                            <td class="py-1">{{ user.Emp_name }}</td>
                            <td class="py-1">{{ user.Branch }}</td>
                            <td class="py-1">{{ user.AV1 }}</td>
                            <td class="py-1">{{ user.BV1 }}</td>
                            <td class="py-1">{{ user.CV1 }}</td>
                            <td class="py-1">{{ user.AV2 }}</td>
                            <td class="py-1">{{ user.BV2 }}</td>
                            <td class="py-1">{{ user.CV2 }}</td>
                            <td class="py-1">{{ user.AV3 }}</td>
                            <td class="py-1">{{ user.BV3 }}</td>
                            <td class="py-1">{{ user.CV3 }}</td>
                            <td class="py-1">{{ user.EAV1 }}</td>
                            <td class="py-1">{{ user.EBV1 }}</td>
                            <td class="py-1">{{ user.ECV1 }}</td>
                            <td class="py-1">{{ user.EAV2 }}</td>
                            <td class="py-1">{{ user.EBV2 }}</td>
                            <td class="py-1">{{ user.ECV2}}</td>
                            <td class="py-1">{{ user.EAV3 }}</td>
                            <td class="py-1">{{ user.EBV3 }}</td>
                            <td class="py-1">{{ user.ECV3 }}</td>
                            <td class="py-1">{{ user.nvav1 }}</td>
                            <td class="py-1">{{ user.nvbv1 }}</td>
                            <td class="py-1">{{ user.nvcv1 }}</td>
                            <td class="py-1">{{ user.nvav2 }}</td>
                            <td class="py-1">{{ user.nvbv2 }}</td>
                            <td class="py-1">{{ user.nvcv2 }}</td>
                            <td class="py-1">{{ user.nvav3 }}</td>
                            <td class="py-1">{{ user.nvbv3 }}</td>
                            <td class="py-1">{{ user.nvcv3 }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
     </div>
 </div>
    </div>
{% endblock %}

{#    (SELECT COUNT(`unique_id`) FROM `doctor_agent_list` WHERE `emp_id` = '15080' AND `category` = 'A') AS aTotalcount,#}
{#  (SELECT COUNT(`unique_id`) FROM `doctor_agent_list` WHERE `emp_id` = '15080' AND `category` = 'B') AS bTotalcount,#}
{#  (SELECT COUNT(`unique_id`) FROM `doctor_agent_list` WHERE `emp_id` = '15080' AND `category` = 'C') AS cTotalcount,#}
{#  (SELECT COALESCE(SUM(av1),0) FROM (#}
{#    SELECT IF(COUNT(`call_report_master`.`unique_id`) = 1, 1, 0) AS av1#}
{#    FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'A'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS av1) AS AV1,#}
{#  (SELECT COALESCE(SUM(bv1),0) FROM (#}
{#    SELECT IF(COUNT(`call_report_master`.`unique_id`) = 1, 1, 0) AS bv1#}
{#    FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'B'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS av1) AS BV1,#}
{#  (SELECT COALESCE(SUM(cv1),0) FROM (#}
{#    SELECT IF(COUNT(`call_report_master`.`unique_id`) = 1, 1, 0) AS cv1#}
{#    FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'C'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS av1) AS CV1,#}
{#  (SELECT COALESCE(SUM(av2),0) FROM (#}
{#    SELECT IF(COUNT(`call_report_master`.`unique_id`) = 2, 1, 0) AS av2#}
{#    FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'A'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS av2) AS AV2,#}
{#  (SELECT COALESCE(SUM(bv2),0) FROM (#}
{#    SELECT IF(COUNT(`call_report_master`.`unique_id`) = 2, 1, 0) AS bv2#}
{#    FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'B'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS bv2) AS BV2,#}
{#  (SELECT COALESCE(SUM(cv2),0) FROM (#}
{#    SELECT IF(COUNT(`call_report_master`.`unique_id`) = 2, 1, 0) AS cv2#}
{#    FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'C'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS cv2) AS CV2,#}
{##}
{#  (SELECT COALESCE(SUM(av3),0) FROM (SELECT if(COUNT(`call_report_master`.`unique_id`)>2,1,0) AS av3 FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'A'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS av3) AS AV3,#}
{#   (SELECT COALESCE(SUM(bv3),0) FROM (SELECT if(COUNT(`call_report_master`.`unique_id`)>2,1,0) AS bv3 FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'B'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS bv3) AS BV3,#}
{##}
{#   (SELECT COALESCE(SUM(cv3),0) FROM (SELECT if(COUNT(`call_report_master`.`unique_id`)>2,1,0) AS cv3 FROM `call_report_master`#}
{#    INNER JOIN `doctor_agent_list` ON `doctor_agent_list`.`unique_id` = `call_report_master`.`unique_id`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'C'#}
{#    AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `doctor_agent_list`.`date` BETWEEN '2023-05-01' AND '2023-06-10'#}
{#    AND `call_report_master`.`unique_id` != ''#}
{#    GROUP BY `call_report_master`.`unique_id`#}
{#    ORDER BY `call_report_master`.`emp_id` ASC#}
{#  ) AS cv3) AS CV3,#}
{##}
{#(SELECT COALESCE(SUM(eav1), 0)FROM (SELECT IF(COUNT(`unique_id`) = 1, 1, 0) AS eav1 FROM `call_report_master`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'A'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS eav1 ) AS EAV1,#}
{##}
{#        (SELECT COALESCE(SUM(ebv1), 0)FROM (SELECT IF(COUNT(`unique_id`) = 1, 1, 0) AS ebv1 FROM `call_report_master`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'B'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS ebv1 ) AS EBV1,#}
{##}
{#        (SELECT COALESCE(SUM(ecv1), 0)FROM (SELECT IF(COUNT(`unique_id`) = 1, 1, 0) AS ecv1 FROM `call_report_master`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'C'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS ecv1 ) AS ECV1,#}
{##}
{#         (SELECT COALESCE(SUM(eav2), 0)FROM (SELECT IF(COUNT(`unique_id`) = 2, 1, 0) AS eav2 FROM `call_report_master`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'A'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS eav2 ) AS EAV2,#}
{##}
{#            (SELECT COALESCE(SUM(ebv2), 0)FROM (SELECT IF(COUNT(`unique_id`) = 2, 1, 0) AS ebv2 FROM `call_report_master`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'B'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS ebv2 ) AS EBV2,#}
{##}
{#            (SELECT COALESCE(SUM(ecv2), 0)FROM (SELECT IF(COUNT(`unique_id`) = 2, 1, 0) AS ecv2 FROM `call_report_master`#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'C'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS ecv2 ) AS ECV2,#}
{##}
{#        (SELECT COALESCE(SUM(eav3),0) FROM (SELECT if(COUNT(`unique_id`)>2,1,0) AS eav3 FROM call_report_master#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'A'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS eav3 ) AS EAV3,#}
{##}
{#        (SELECT COALESCE(SUM(ebv3),0) FROM (SELECT if(COUNT(`unique_id`)>2,1,0) AS ebv3 FROM call_report_master#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'B'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS ebv3 ) AS EBV3,#}
{##}
{#        (SELECT COALESCE(SUM(ecv3),0) FROM (SELECT if(COUNT(`unique_id`)>2,1,0) AS ecv3 FROM call_report_master#}
{##}
{#    WHERE `call_report_master`.`emp_id` = '15080' AND `call_report_master`.`category` = 'C'#}
{#        AND `call_report_master`.`date` BETWEEN '2023-05-01' AND '2023-06-10' AND `unique_id` != '' GROUP BY `call_report_master`.`unique_id` ORDER BY  `call_report_master`.`emp_id` ASC) AS ecv3 ) AS ECV3,#}
{##}
{#        	(SELECT COALESCE(SUM(aothers1), 0) FROM (SELECT IF(doctor_agent_list.emp_id != call_report_master.emp_id, 1, 0) AS aothers1 FROM  `call_report_master`#}
{#          INNER JOIN doctor_agent_list ON  `call_report_master`.unique_id = doctor_agent_list.unique_id WHERE `call_report_master`.`emp_id` = '15080'#}
{#        AND  `call_report_master`.category = 'A'#}
{#        AND  `call_report_master`.date BETWEEN '2023-05-01' AND '2023-06-10'#}
{#        AND  `call_report_master`.unique_id != ''#}
{#      GROUP BY  `call_report_master`.unique_id#}
{#      ORDER BY  `call_report_master`.emp_id ASC#}
{#    ) AS aothers1#}
{#  ) AS aothers1,#}
{##}
{#  (SELECT COALESCE(SUM(bothers1), 0) FROM (SELECT IF(doctor_agent_list.emp_id != call_report_master.emp_id, 1, 0) AS bothers1 FROM  `call_report_master`#}
{#          INNER JOIN doctor_agent_list ON  `call_report_master`.unique_id = doctor_agent_list.unique_id WHERE `call_report_master`.`emp_id` = '15080'#}
{#        AND  `call_report_master`.category = 'B'#}
{#        AND  `call_report_master`.date BETWEEN '2023-05-01' AND '2023-06-10'#}
{#        AND  `call_report_master`.unique_id != ''#}
{#      GROUP BY  `call_report_master`.unique_id#}
{#      ORDER BY  `call_report_master`.emp_id ASC#}
{#    ) AS bothers1#}
{#  ) AS bothers1,#}
{##}
{# (SELECT COALESCE(SUM(cothers1), 0) FROM (SELECT IF(doctor_agent_list.emp_id != call_report_master.emp_id, 1, 0) AS cothers1 FROM  `call_report_master`#}
{#          INNER JOIN doctor_agent_list ON  `call_report_master`.unique_id = doctor_agent_list.unique_id WHERE `call_report_master`.`emp_id` = '15080'#}
{#        AND  `call_report_master`.category = 'C'#}
{#        AND  `call_report_master`.date BETWEEN '2023-05-01' AND '2023-06-10'#}
{#        AND  `call_report_master`.unique_id != ''#}
{#      GROUP BY  `call_report_master`.unique_id#}
{#      ORDER BY  `call_report_master`.emp_id ASC#}
{#    ) AS cothers1#}
{#  ) AS cothers1#}
{#  FROM `logins`#}
{#WHERE `Page` = 'Marketing'#}
{#  AND `Job_Status` = 'Active'#}
{#  AND `branch` = 'As Rao Nagar';#}
