{% extends 'base.html' %}
{% block content_heading %}Bank Update Details{% endblock %}
{% block content_subheading %}Bank update details {% endblock %}
{% block title %} Bank Update Details {% endblock %}

{% load static %}
{% block links %}
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
    $('[id^=bank_ac]').keypress(validateNumber);
});

function validateNumber(event) {
    let key = window.event ? event.keyCode : event.which;
    if (event.keyCode === 8 || event.keyCode === 46) {
        return true;
    } else if ( key < 48 || key > 57 ) {
        return false;
    } else {
    	return true;
    }
}
</script>
{% endblock  %}

{% block body %}
<style>
 .form-group {
        margin-bottom: 0;
    }

    .form-control {
        margin-bottom: 0;
    }
.col-md-3 {
        padding-right: 5px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">
          {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="search" id="eid_search" placeholder="Unique ID or Mobile number" autocomplete="on">
        </div>
        </form>
    </div>
</div>


 <form action="" method="post" autocomplete="off">
        {% csrf_token %}
    <div class="card">
     <div class="card-body">
 <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>UCID
                    <input type="text" class="form-control" value="{{ b_details.unique_id }}" name="unique_id" id="unique_id" readonly>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Agent Name
                    <input type="text" class="form-control" value="{{ b_details.agent_name }}" name="agent_name" id="agent_name" readonly>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Mobile
                    <input type="number" class="form-control" value="{{ b_details.mobile }}" name="mobile" id="mobile" readonly>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Branch<span class="text-danger">*</span>
                    <input type="text" class="form-control" value="{{ b_details.bank_branch_name }}" name="bank_branch_name"  required id="bank_branch_name" readonly>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Pan Card<span class="text-danger">*</span>
                    <input type="text" class="form-control" value="{{ b_details.pancard }}" name="pancard" id="pancard"  required pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" maxlength="10">
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Account Number<span class="text-danger">*</span>
                    <input type="tel" class="form-control" value="{{ b_details.bank_ac }}" name="bank_ac" id="bank_ac"  required>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Ifsc Code<span class="text-danger">*</span>
                    <input type="text" class="form-control" value="{{ b_details.ifsc }}" name="ifsc" id="ifsc" required pattern="^[A-Za-z]{4}[a-zA-Z0-9]{7}$" maxlength="11">
                </label>
            </div>
        </div>
    </div>
         <hr>
         <button class="btn btn-primary float-right" type="submit">Submit</button>

     </div>
    </div>
</form>
 {% endblock %}