{% extends 'base.html' %}
{%  block content_heading %} Dashboard {% endblock %}
{#{%  block content_subheading %} Dashboard {% endblock %}#}
{% block title %} Dashboard {% endblock %}

{% block script %}
    <script>
    $('.change-view').on('click', function () {
       let view_type = $(this).data('view');

       if (view_type === "master") {
           $("#master_div").show();
           $("#active_div").hide();
           $("#present_div").hide();
            $("#absent_div").hide();
       }else if (view_type === "active") {
           $("#master_div").hide();
           $("#active_div").show();
           $("#present_div").hide();
            $("#absent_div").hide();

       }else if (view_type === "present") {
           $("#master_div").hide();
           $("#active_div").hide();
           $("#present_div").show();
            $("#absent_div").hide();

       }else if(view_type ==="absent"){
           $("#absent_div").show();
            $("#master_div").hide();
           $("#active_div").hide();
           $("#present_div").hide();
       }
    })

    </script>
{% endblock %}
{% block body %}

    <!-- Page Body -->
    <div class="row">
        <div class="change-view col-md-5 col-lg-3" data-view="master">
            <div class="dashboard-stat color-success">
                <div class="content"><h4>{{ master_list }}
                </h4> <span><a href="#">Master List</a></span></div>
                <div class="icon"><i class="icon-list"></i></div>
            </div>
        </div>
        <div class="change-view col-md-5 col-lg-3" data-view="active">
            <div class="dashboard-stat color-warning">
                <div class="content">
                    <h4>{{ total_count }}
                    </h4> <span><a href="#">Active Employees</a></span></div>
                <div class="icon"><i class="icon-people"></i></div>
            </div>
        </div>
        <div class="change-view col-md-5 col-lg-3" data-view="present">
            <div class="dashboard-stat color-primary">
                <div class="content"><h4>{{ present }}
                </h4> <span><a href="#">Present</a></span></div>
                <div class="icon"><i class="icon-calendar"></i></div>
            </div>
        </div>
        <div class="change-view col-md-5 col-lg-3" data-view="present">
            <div class="dashboard-stat color-danger">
                <div class="content"><h4>{{ absent }}
                </h4> <span><a href="#">Absent</a></span></div>
                <div class="icon"><i class="icon-calendar"></i></div>
            </div>
        </div>
    </div>
{#    <div id="master_div" style="display: none" class="row pb-4">#}
{#       <div class="col-md-12">#}
{#          <div class="card card-body">#}
{##}
{#            <div class="table-responsive">#}
{#                <table id="call-report-details" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap;width: 100%">#}
{#                  <thead>#}
{#                    <tr role="row" style="background: #3F51B5; color: #fff;" >#}
{#                        <th class="py-2" data-orderable="false">#</th>#}
{#                        <th class="py-2" data-orderable="false">Emp ID</th>#}
{#                        <th class="py-2" data-orderable="false">Unique ID</th>#}
{#                        <th class="py-2" data-orderable="false">Agent Type</th>#}
{#                        <th class="py-2" data-orderable="false">Category</th>#}
{#                        <th class="py-2" data-orderable="false">Branch</th>#}
{#                        <th class="py-2" data-orderable="false">Mobile</th>#}
{#                        <th class="py-2" data-orderable="false">Company</th>#}
{#                        <th class="py-2" data-orderable="false">Pan Card</th>#}
{#                        <th class="py-2" data-orderable="false">Bank Act</th>#}
{#                        <th class="py-2" data-orderable="false">IFSC</th>#}
{#                        <th class="py-2" data-orderable="false">Area</th>#}
{#                        <th class="py-2" data-orderable="false">City</th>#}
{#                    </tr>#}
{#                  </thead>#}
{##}
{#                    <tbody>#}
{#                    {% for list in master %}#}
{#                        <tr>#}
{#                            <td class="py-1 text-right">{{ forloop.counter }}</td>#}
{#                            <td class="py-1">{{ list.emp_id }}</td>#}
{#                            <td class="py-1">{{ list.unique_id }}</td>#}
{#                            <td class="py-1">{{ list.agent_type }}</td>#}
{#                            <td class="py-1">{{ list.category }}</td>#}
{#                            <td class="py-1">{{ list.branch }}</td>#}
{#                            <td class="py-1">{{ list.mobile }}</td>#}
{#                            <td class="py-1">{{ list.company }}</td>#}
{#                            <td class="py-1">{{ list.pancard }}</td>#}
{#                            <td class="py-1">{{ list.bank_ac }}</td>#}
{#                            <td class="py-1">{{ list.ifsc }}</td>#}
{#                            <td class="py-1">{{ list.area }}</td>#}
{#                            <td class="py-1">{{ list.city }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#       </div>#}
{#      </div>#}
{#    </div>#}
{#    <div id="active_div" style="display: none" class="row pb-4">#}
{#          <div class="col-md-12">#}
{#            <div class="card card-body">#}
{#              <div class="table-responsive">#}
{#                <table id="call-report-details" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap;width: 100%">#}
{#                    <thead>#}
{#                    <tr role="row" style="background: #3F51B5; color: #fff;" >#}
{#                        <th class="py-2" data-orderable="false">#</th>#}
{#                        <th class="py-2" data-orderable="false">Emp ID</th>#}
{#                        <th class="py-2" data-orderable="false">Employee Name</th>#}
{#                        <th class="py-2" data-orderable="false">Branch</th>#}
{#                        <th class="py-2" data-orderable="false">Old Branch</th>#}
{#                        <th class="py-2" data-orderable="false">Designation</th>#}
{#                        <th class="py-2" data-orderable="false">Original Type</th>#}
{#                        <th class="py-2" data-orderable="false">Personal Number</th>#}
{#                        <th class="py-2" data-orderable="false">Job Status</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for i in total %}#}
{#                        <tr>#}
{#                            <td class="py-1 text-right">{{ forloop.counter }}</td>#}
{#                            <td class="py-1">{{ i.emp_id }}</td>#}
{#                            <td class="py-1">{{ i.emp_name }}</td>#}
{#                            <td class="py-1">{{ i.branch }}</td>#}
{#                            <td class="py-1">{{ i.old_branch }}</td>#}
{#                            <td class="py-1">{{ i.designation }}</td>#}
{#                            <td class="py-1">{{ i.original_type }}</td>#}
{#                            <td class="py-1">{{ i.personal_number }}</td>#}
{#                            <td class="py-1">{{ i.job_status }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#          </div>#}
{#         </div>#}
{#      </div>#}
{#    <div id="absent_div" style="display: none" class="row pb-4">#}
{#          <div class="col-md-12">#}
{#            <div class="card card-body">#}
{#              <div class="table-responsive">#}
{#                <table id="call-report-details" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap;width: 100%">#}
{#                    <thead>#}
{#                    <tr role="row" style="background: #3F51B5; color: #fff;" >#}
{#                        <th class="py-2" data-orderable="false">#</th>#}
{#                        <th class="py-2" data-orderable="false">Emp </th>#}
{#                        <th class="py-2" data-orderable="false">Unique </th>#}
{#                        <th class="py-2" data-orderable="false">Name</th>#}
{#                        <th class="py-2" data-orderable="false">Category</th>#}
{#                        <th class="py-2" data-orderable="false">Design</th>#}
{#                        <th class="py-2" data-orderable="false">Contact</th>#}
{#                        <th class="py-2" data-orderable="false">Date</th>#}
{#                        <th class="py-2" data-orderable="false">Time</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for i in absent %}#}
{#                        <tr>#}
{#                            <td class="py-1 text-right" >{{ forloop.counter }}</td>#}
{#                            <td class="py-1">{{ i.emp_id}}</td>#}
{#                            <td class="py-1">{{ i.unique_id}}</td>#}
{#                            <td class="py-1">{{ i.name}}</td>#}
{#                            <td class="py-1">{{ i.category}}</td>#}
{#                            <td class="py-1">{{ i.design}}</td>#}
{#                            <td class="py-1">{{ i.contact}}</td>#}
{#                            <td class="py-1">{{ i.date}}</td>#}
{#                            <td class="py-1">{{ i.time}}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#          </div>#}
{#         </div>#}
{#      </div>#}
{#    <div id="present_div" style="display: none" class="row pb-4">#}
{#          <div class="col-md-12">#}
{#            <div class="card card-body">#}
{#              <div class="table-responsive">#}
{#                <table id="call-report-details" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap;width: 100%">#}
{#                    <thead>#}
{#                    <tr role="row" style="background: #3F51B5; color: #fff;" >#}
{#                        <th class="py-2" data-orderable="false">#</th>#}
{#                        <th class="py-2" data-orderable="false">Emp </th>#}
{#                        <th class="py-2" data-orderable="false">Unique </th>#}
{#                        <th class="py-2" data-orderable="false">Name</th>#}
{#                        <th class="py-2" data-orderable="false">Category</th>#}
{#                        <th class="py-2" data-orderable="false">Design</th>#}
{#                        <th class="py-2" data-orderable="false">Contact</th>#}
{#                        <th class="py-2" data-orderable="false">Date</th>#}
{#                        <th class="py-2" data-orderable="false">Time</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for i in preset_data %}#}
{#                        <tr>#}
{#                            <td class="py-1 text-right" >{{ forloop.counter }}</td>#}
{#                            <td class="py-1">{{ i.emp_id}}</td>#}
{#                            <td class="py-1">{{ i.unique_id}}</td>#}
{#                            <td class="py-1">{{ i.name}}</td>#}
{#                            <td class="py-1">{{ i.category}}</td>#}
{#                            <td class="py-1">{{ i.design}}</td>#}
{#                            <td class="py-1">{{ i.contact}}</td>#}
{#                            <td class="py-1">{{ i.date}}</td>#}
{#                            <td class="py-1">{{ i.time}}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#          </div>#}
{#         </div>#}
{#      </div>#}

{% endblock %}
