{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | SPRINT MIS</title>
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}" />
</head>
<body>

    <!-- Page Wrapper -->
    <div class="lgn-background" style="background-image: url({% static 'user_images/422 .png' %});">
        <div class="lgn-wrapper card">
            <div class="lgn-logo text-center">
                <a><img src="{% static 'logo.png' %}" alt=""></a>
            </div>
            <div class="">
                <form class="" method="post" action="">
                    {%  csrf_token %}

                    <div class="lgn-input form-group">
                        <label class="control-label col-sm-12">Employee ID</label>
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="emp_id" id="lgn-mail" placeholder="Enter your Emp Id" autocomplete="off">
                        </div>
                    </div>
                    <div class="lgn-input form-group">
                        <label class="control-label col-sm-12">Password</label>
                        <div class="col-sm-12">
                            <input type="password" name="password" id="lgn-pass" class="form-control" placeholder="Enter your Password" autocomplete="off">
                        </div>
                    </div>
                    <div class="lgn-forgot text-center">
{#                        <a href="{% url 'forgot_password' %}">Forgotten Password?</a>#}
                    {% for message in messages %}
                        <span class="text-orange">{{ message }}</span>
                    {%  endfor %}
                    </div>
                    <div class="lgn-submit">
                        <button type="submit" id="lgn-submit" class="btn btn-primary btn-pill btn-lg" name="login">Login</button>
                    </div>
                </form>
            </div> 
        </div>
    </div>

    <!-- Include js files -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'assets/plugin/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- Popper Plugin -->
    <script type="text/javascript" src="{% static 'assets/plugin/popper/popper.min.js' %}"></script>
    <!-- Bootstrap Framework -->
    <script type="text/javascript" src="{% static 'assets/plugin/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>


