{% extends 'base.html' %}
{% block content_heading %}Referral Dashboard {% endblock %}
{% block content_subheading %}Referral dashboard {% endblock %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-lg-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="datee" class="form-control daterange-shawCalRanges">
                <input type="text" name="empid" value="015009" hidden="">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="submit" name="submitt" value="Go">
                    </div>
                </div>
            </div>
        </form>
        <br>

    </div>
</div>


        <div class="col-md-12">
                    <div class="card card-body">
                        <div class="table-responsive">
                            <table id="data-table-5" class="table table-head-bg table-bordered table-head-primary" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="background-color: #60aadd; color:#000000;"></th>
											<th colspan="2" style="background-color: #60aadd; color:#000000;">Approved Referral's</th>
											<th colspan="2" style="background-color: #ab86e5; color:#000000;">Cash Referral's</th>
											<th colspan="2" style="background-color: #dbc470; color:#000000;">Incomplete Details</th>
											<th colspan="2" style="background-color: #afafaf; color:#000000;">Complete Details</th>
											<th colspan="2" style="background-color: #6ee36e; color: #000;">Processed Referral's</th>
											<th colspan="2" style="background-color: #f18b8b; color: #000;">Pending Referral's</th>
											<th style="background-color: #f18b8b; color: #000;"></th>
                                            </tr>
                                            <tr>
                                                <th style="background-color: #60aadd; color:#000000;">S No</th>
												<th style="background-color: #60aadd; color:#000000;">Cluster</th>
											<th style="background-color: #60aadd; color:#000000;">#</th>
											<th style="background-color: #60aadd; color:#000000;">Amount </br>(in Lakh)</th>
											<th style="background-color: #ab86e5; color:#000000;">#</th>
											<th style="background-color: #ab86e5; color:#000000;">Amount </br>(in Lakh)</th>
											<th style="background-color: #dbc470; color:#000000;">#</th>
											<th style="background-color: #dbc470; color:#000000;">Amount </br>(in Lakh)</th>
											<th style="background-color: #afafaf; color:#000000;">#</th>
											<th style="background-color: #afafaf; color:#000000;">Amount </br>(in Lakh)</th>
											<th style="background-color: #6ee36e; color: #000;">#</th>
											<th style="background-color: #6ee36e; color: #000;">Amount </br>(in Lakh)</th>
											<th style="background-color: #f18b8b; color: #000;">#</th>
											<th style="background-color: #f18b8b; color: #000;">Amount </br>(in Lakh)</th>
											<th style="background-color: #f18b8b; color: #000;">Last Payment Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             <tr>
                                                  <td class="py-1" style="background-color: #60aadd; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #60aadd; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #60aadd; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #60aadd; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #ab86e5; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #ab86e5; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #dbc470; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #dbc470; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #afafaf; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #afafaf; color:#000000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #6ee36e; color: #000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #6ee36e; color: #000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #f18b8b; color: #000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #f18b8b; color: #000;">{{ row.date_time }} </td>
                                                  <td class="py-1" style="background-color: #f18b8b; color: #000;">{{ row.date_time }} </td>
                                             </tr>
                                        </tbody>


                        </div>
                    </div>
                </div>
{% endblock %}