{%  extends 'base.html' %}
{% block content_heading %}UCID Creation{% endblock %}
{% block content_subheading %}UCID Creation{% endblock %}
{% block title %} UCID Creation{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span id="check-empname"></span>
                                    <label class="col-form-label">Referral Type:<span class="text-danger">*</span></label>
                                     <select class="form-control form-control-sm" name="referral_type" id="referral_type" required>
                                         <option value="">-Select Referral Type-</option>
                                        <option value="Qualified">Qualified</option>
                                        <option value="Registered Practioner">Registered Practioner</option>
                                        <option value="Special Category">Special Category</option>
                                        <option value="Karnataka">Karnataka</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Unique ID:<span class="text-danger">*</span></label>
                                        <input type="number" class="form-control form-control-sm" name="unique_id" id="unique_id" placeholder="Enter Unique ID" required="true" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <span id="check-empname"></span>
                                    <label class="col-form-label">Doctor Name:<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-sm" name="doctor_name" placeholder="Enter Doctor Name" required="true">
                                    <div class="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Mobile Number:<span class="text-danger">*</span></label>
                                    <div class="">
                                        <input type="number" name="mobile" class="form-control form-control-sm" placeholder="10 Digits Number" required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Alternate Mobile number:<span class="text-danger">*</span></label>
                                    <div class="">
                                        <input type="number" name="mobile" class="form-control form-control-sm" placeholder="10 Digits Number" required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Designation</label>
                                    <select class="form-control form-control-sm" name="designation" required="true">
                                        <option value="--Select Category Type--">--Select Designation--</option>
                                        <option value="Cluster Head">Cluster head</option>
                                        <option value="Center Head">Center Head</option>
                                        <option value="Executive">Executive</option>
                                        <option value="Marketing Head">Marketing Head</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="head">
                                    <h5 class="panel-title">How Many customers does he/she use to refer to per us month?</h5>
                                </div>
                                <div class="radio py-4 px-lg-4">
                                    <div class="custom-control custom-radio custom-radio-1 mb-3">
                                        <input type="radio" name="status" class="custom-control-input" id="active1">
                                        <label class="custom-control-label" for="active1">A - More than 10 referrals(High potential)</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-radio-1 mb-3">
                                        <input type="radio" name="status" class="custom-control-input" id="active2">
                                        <label class="custom-control-label" for="active2">B - 5 to 10 referrals (Moderate potential)</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-radio-1 mb-3">
                                        <input type="radio" name="status" class="custom-control-input" id="active3">
                                        <label class="custom-control-label" for="active3">C - 1 to 10 referrals (Low potential)</label>
                                    </div>
                                </div>
                            </div>
                        <div class="panel-footer text-right">
                            <button type="submit" name="Submit" class="btn btn-success mr-2">Create Now</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
{% endblock %}