{% extends 'base.html' %}
{% block content_heading %}UTR update{% endblock %}
{% block content_subheading %}UTR update{% endblock %}
{% block title %} UTR update {% endblock %}

{% block body %}

    <div class="card card-body">
        <form action=" " method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 ">Upload CSV File only: </label>

                <div class="row">
                  <div class="col-md-7  ">
                    <input type="file" class="btn-shadow" name="upload_csv_file" id="csv_file" style="border: 1px solid blue; padding: 6px;" accept=".csv" />
                  </div>
                    <div class="col-md-5">
                    <button type="Submit" name="Submit" class="btn btn-success mr-3" style="border: 1px solid blue; padding: 13px;">Upload Now</button>
                   </div>
                </div>

            </div>
            <div class="row">
               <div class="col-md-2 text-right">
                   <a href ="{% url 'utr_csv' %}" name="excel" class="btn btn-sm btn-primary" style="padding: 10px;">Download Excel Format</a>
               </div>
{#                <div class="col-md-4">#}
{#                    <a href ="{% url 'utr_update' %}" name="excel" class="btn btn-sm btn-primary" style="padding: 10px;">Download Uploaded Excel </a>#}
{#                </div>#}
            </div>
  </form>


        <hr>
        <div class="row">
            <div class="col-lg-12 pt-4">
                <ol class="text-gradient-info" style="padding-inline-start: 0px;!important;"><h3>Steps to follow uploading inputs</h3>
                    <ol class="text-secondary">
                        <li> Headings required.</li>
                        <li> Date format is <b>"YYYY-MM-DD"</b>.</li>
                        <li> Serial Number is mandatory.</li>
                        <li> File should be in CSV format</li>
                    </ol>
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
