{% extends 'base.html'%}
{%  block content_heading %} Admission Breakup {% endblock %}
{%  block content_subheading %} Admission Breakup {% endblock %}
{% block title %} Admission Breakup {% endblock %}

{% block body %}
<div class="page-body">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-head">
                    <div class="row">

                        <div class="col-md-4">
                            <h5>Departments</h5>
                        </div>
                        <div class="col-md-4">
 <a class="btn btn-primary btn-xm m-1" href="{%  url 'pdf' %}" target="_blank">Department Report</a>
                        </div>
                        <div class="col-md-4">
                            <form action="" method="POST"><div class="input-group">
                                {% csrf_token %}
                                <input type="text" name="name" value="department" hidden="">
                                <input type="date" name="date"  value="date" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="ti-search"></i><input type="submit" name="submitt" value="Go">
                                    </div>
                                </div>
                            </div>

                            </form>
                        </div>


                    </div>

                </div>


            </div>
        </div>


    </div>
</div>
    <div class="page-body">
                    <div class="row">

                        <div class="col-12">
                            <div class="panel panel-default">

									  <div class="panel-head">
								<div class="row">


                                                <div class="col-md-4">
                                                     <h5>Percentage</h5>
                                                    </div>

												<div class="col-md-4">

												<a class="btn btn-primary btn-xm m-1" href="{% url 'pdf' %}" target="_blank">Percentage Report</a>
                                                </div>
												<div class="col-md-4">
												<form action="" method="POST">
                                                    {% csrf_token %}
												     <input type="text" name="name" value="percentage" hidden="">

												<div class="input-group">
                                            <input type="date" name="pdate" class="form-control ">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="ti-search"></i><input type="submit" name="submitts" value="Go">
                                                </div>
                                            </div>
                                        </div>

												</form>
												</div>

												</div>

									</div>

                            </div>
                        </div>


                    </div>
                </div>
{% endblock %}