{% extends 'base.html'%}
{%  block content_heading %} Camp Report {% endblock %}
{%  block content_subheading %} Camp Report {% endblock %}
{% block title %} Camp Report {% endblock %}

{% block body %}

    <form action="" method="POST" >
    {% csrf_token %}
      <div class="row ">
          <div class="col-md-5">
                <div class="input-group">
                    <input type="text" name="date" class="form-control mb-2 daterange-shawCalRanges">
                    <div class="input-group-append">
                        <input class="btn btn-primary form-control " type="submit" name="submit" value="Go">
                    </div>
                </div>
            </div>
{#          <div class="col-md-3 text-right">#}
{#             <button type="button" name="Submit" class="btn btn-lg btn-primary btn-gradient btn-shadow">Excel Export</button>#}
{#          </div>#}
      </div>
    </form>


    <div class="row pb-3">
        <div class="col-md-12">
            <div class="card card-body">
                 <div class="table-responsive">
                     <table id="" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap">
                         <thead>
                            <tr role="row" style="background: #3F51B5; color: #fff;">
                                <th class="py-2" data-orderable="false">Sno</th>
                                <th class="py-2" data-orderable="false">Employee Details</th>
                                <th class="py-2" data-orderable="false">Transaction ID</th>
                                <th class="py-2" data-orderable="false">Registration</th>
                                <th class="py-2" data-orderable="false">Camp Date</th>
                                <th class="py-2" data-orderable="false">Branch</th>
                                <th class="py-2" data-orderable="false">Colony Name</th>
                                <th class="py-2" data-orderable="false">Camp Type</th>
                                <th class="py-2" data-orderable="false">Area</th>
                                <th class="py-2" data-orderable="false">Zone</th>
                                <th class="py-2" data-orderable="false">State</th>
                                <th class="py-2" data-orderable="false">Status</th>
                            </tr>
                         </thead>
                         <tbody>
                           {% for row in camp %}
                               <tr>
                                   <td class="py-1 text-right">{{ row.sno }}</td>
                                   <td class="py-1">{{ row.empid }} - {{ row.empname }}</td>
                                   <td class="py-1">{{ row.transid }} </td>
                                   <td class="py-1">{{ row.registration }} </td>
                                   <td class="py-1">{{ row.date_time }} </td>
                                   <td class="py-1">{{ row.branch }} </td>
                                   <td class="py-1">{{ row.colonyname }} </td>
                                   <td class="py-1">{{ row.camptype }} </td>
                                   <td class="py-1">{{ row.area }} </td>
                                   <td class="py-1">{{ row.zone }} </td>
                                   <td class="py-1">{{ row.state }} </td>
                                   <td class="py-1">{{ row.status }} </td>

                               </tr>
                           {% endfor %}
                         </tbody>
                     </table>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}