{% extends 'base.html' %}
{%  block content_heading %}Daily Call report{% endblock %}
{%  block content_subheading %}Call Report Master {% endblock %}
{% block title %} Call Report {% endblock %}


{% block body %}
<div class="row">

						<div class="col-6">
                            <div class="panel">
                                <div class="panel-head">
                                    <h5 class="panel-title">Upload Image</h5>
                                </div>
                                <div class="panel-body">
                                    <p class="text-muted mb-4">Image size show be </p>

                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" placeholder="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button type="Submit" name="Submit" class="btn btn-success mr-3">Upload Now</button>

                                    </div>
                                </div>
                            </div>
                        </div>
							<div class="col-6">
                                 <div class="panel">
                                <div class="panel-head">
                                    <h5 class="panel-title">Visibility</h5>
                                </div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="panel-body">

                                        <div class="radio">
                                            <div class="custom-control custom-radio custom-radio-1 mb-3">
                                                <input type="radio" name="status" class="custom-control-input" id="active1" value="Active">
                                                <label class="custom-control-label" for="active1">Visible</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-radio-1 mb-3">
                                                <input type="radio" name="status" class="custom-control-input" id="active2" value="Inactive">
                                                <label class="custom-control-label" for="active2">Not Visible</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button type="Submit" name="Submit" class="btn btn-success mr-3">Update</button>

                                    </div>
                                </form>
                            </div>

                            </div>
                            </div>
{% endblock %}