{% extends 'base.html'%}
{%  block content_heading %} Daily Call Report {% endblock %}
{%  block content_subheading %} Daily Call Report {% endblock %}
{% block title %} Daily Call Report {% endblock %}

{% block body %}
    <form action="" method="post">
    {% csrf_token %}
        <div class="row ">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" name="date" class="form-control mb-2 daterange-shawCalRanges">
                    <div class="input-group-append">
                        <input class="btn btn-primary btn-sm form-control " type="submit" name="submit" value="Go">
                    </div>
                </div>
            </div>

        </div>

    </form>


 <div class="row pb-4">
     <div class="col-md-12">
         <div class="card card-body">
                        <div class="table-responsive">
                            <table id="" class="table table-striped table-bordered cus-responsive-datatable" style="white-space: nowrap">
                                <thead>
                                  <tr role="row" style="background: #0e43b5; color: #fff;">
                                    <th class="py-2" data-orderable="false">S No</th>
                                    <th class="py-2" data-orderable="false">View

                                    </th>
                                      <th class="py-2" data-orderable="false">Emp Name</th>
                                      <th class="py-2" data-orderable="false">Emp ID</th>
                                      <th class="py-2" data-orderable="false">Category</th>
                                      <th class="py-2" data-orderable="false">Ref Count</th>
                                      <th class="py-2" data-orderable="false">Branch</th>
                                      <th class="py-2" data-orderable="false">Start Time</th>
                                      <th class="py-2" data-orderable="false">End Time</th>
                                 </tr>
                                </thead>
                                <tbody>
                                {% for day in report %}
                                    <tr>
                                        <td class="py-2 text-right">{{ forloop.counter }}</td>
                                        <td><button id="sweetalert-4" class="icon-arrow-up-circle text-purple"></button></i>
                                        </td>
                                        <td class="py-2">{{ day.Emp_name }}</td>
                                        <td class="py-2">{{ day.Emp_ID }}</td>
                                        <td class="py-2">{{ day.new_type }}</td>
                                        <td class="py-2">{{ day.ref_count }}</td>
                                        <td class="py-2">{{ day.Branch }}</td>
                                        <td class="py-2">{{ day.type }}</td>
                                        <td class="py-2">{{ day.type }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
         </div>
     </div>
 </div>


{% endblock %}