{% extends 'base.html'%}
{%  block content_heading %} Individual Report {% endblock %}
{%  block content_subheading %} Individual Report {% endblock %}
{% block title %} Individual Report {% endblock %}


{% block body %}
<div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-head">
                                    <div class="panel-title">
                                        <span class="panel-title-text">Overview</span>
                                    </div>
                                </div>
                                  <form action="" method="POST">
                                        {% csrf_token %}
                                <div class="panel-body">

										<div class="form-group row">
                                            <label class="col-12 col-form-label">Emp ID:*</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control"  value="{{ emp_list.emp_id  }}" name="emp_id "  required="true">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-12 col-form-label">Employee Name:*</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" value="{{ emp_list.emp_name }}" name="emp_name" required="true">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-12 col-form-label">Original Design:*</label>
                                            <div class="col-12">
                                                <input type="text" name="orginal_design"  value="{{ emp_list.orginal_design }}" class="form-control" required="true">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-12 col-form-label">Original Type:*</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control"  value="{{ emp_list.original_type }}" name="original_type" required="true">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-12 col-form-label">Office Number:*</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" value="{{ emp_list.office_number }}" name="office_number" required="true">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-12 col-form-label">Branch:</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" value="{{ emp_list.branch }}" name="branch">
                                            </div>
                                        </div>
{#                                            <div class="form-group">#}
{#                                            <label class="col-12 col-form-label">Type: </label>#}
{#                                               <select class="form-control" name="branch">#}
{#                                                   <option >--Select Referral Type--</option>#}
{#                                                            <option value="108 EMPLOYEE">108 EMPLOYEE</option>#}
{#                                                            <option value="AGENT">AGENT</option>#}
{#															<option value="AMBULANCE">AMBULANCE</option>#}
{#                                                            <option value="COMMUNITY">COMMUNITY</option>#}
{#                                                            <option value="DOCTOR">DOCTOR</option>#}
{#                                                            <option value="RMP">RMP</option>#}
{#                                                            <option value="Public Corporate">Public Corporate</option>#}
{#                                                            <option value="Private Coporate">Private Coporate</option>#}
{#                                               </select>#}
{#                                            </div>#}
                                        </div>
                                  </form>


                                        <div class="panel-footer text-right">
                                    <button type="Submit" name="submit" class="btn btn-success mr-2">Delete</button>

                                </div>
                                </div>
                            </div>
                        </div>


{% endblock %}